<% if (message?.length) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %>
<% if (success?.length) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input type="text" name="name" value="<%= course.name %>" class="form-control" />
    <span class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="">Giá khóa học</label>
    <input
      id="price"
      type="text"
      name="price"
      value="<%= course.price %>"
      onkeypress="return isNumber(event)"
      class="form-control"
    />
    <span class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="">Giáo viên</label>
    <select name="teacher" class="form-control">
      <% teacher.forEach(e => {%>

      <option value="<%= e.id%>"><%= e.name%></option>

      <% }); %>
    </select>
    <span class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="">Số lần học thử</label>
    <input
      type="text"
      name="number_of_trial"
      value="<%= course.number_of_trial %>"
      onkeypress="return isNumber(event)"
      class="form-control"
    />
    <span class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="">Số học viên</label>
    <input
      type="text"
      name="number_of_student"
      value="<%= course.number_of_student %>"
      onkeypress="return isNumber(event)"
      class="form-control"
    />
    <span class="text-danger"></span>
  </div>

  <button class="btn btn-success">Lưu</button>
  <a href="/admin" class="btn btn-danger">Hủy</a>
</form>
<script>
  function isNumber(evt) {
    evt = evt ? evt : window.event;
    var charCode = evt.which ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      return false;
    }
    return true;
  }
</script>
